.filters-container {
    display: grid;
    justify-self: center;
    max-width: max-content;
    grid-template-columns: 240px 240px 240px 240px;
    gap: 8px;
    padding: 0;

    .mat-radio-label-content {
        margin: 0 8px;
    }
}